{% extends 'catalog/base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <form class="row" method="post" enctype="multipart/form-data">

      <div class="container col-6">
        <div class="card">
          <div class="card-header">
            <h4>Регистрация</h4>
          </div>
          <div class="card-body">
            {% csrf_token %}
            {{ form.as_p }}
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-6">
                <button class="btn btn-success col-12" type="submit">Зарегистрироваться</button>
              </div>
              <div class="col-6">
                <a class="btn btn-secondary col-12" href="{% url 'catalog:home' %}">Назад</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
{% endblock %}