{% extends 'catalog/base.html' %}

{% block content %}

{% include 'catalog/includes/inc_catalog_filter.html' %}

<div class="container mt-3">
  <div class="row">
    {% for item in consumables %}
    <div class="col-3">
      <div class="card shadow-sm" style="width: 20rem;">
        <div class="container center">
        <img src="{{ item.image }}" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ item.name|slice:":25" }}</h5>
          <p class="card-text">Цена: {{ item.price }}<br>На складе: None <br>Описание: {{ item.description|slice:":100" }}</p>
          <a><button class="btn btn-primary" type="submit">На страницу товара</button></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
