{% extends 'catalog/base.html' %}
{% block content %}

{% load catalog_tags %}
{% if user.is_authenticated %}
<div class="container">
  <a class="btn btn-secondary" href="{% url 'catalog:consumable_create' %}">Добавить расходный материал</a>
</div>
{% endif %}
<div class="container mt-1">
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="container col-8">
        <div class="card">
          <div class="container mt-1">
            <p>Фильтры</p>
            <div class="row">
              <div class="container col-4">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value=1 name="consumables_check" checked="checked">
                  <label class="form-check-label">
                    Бумага
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value=3 name="consumables_check" checked="checked">
                  <label class="form-check-label">
                    Картриджи
                  </label>
                </div>
              </div>
              <div class="container col-4">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value=4 name="consumables_check" checked="checked">
                  <label class="form-check-label">
                    Скрепки
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value=2 name="consumables_check" checked="checked">
                  <label class="form-check-label">
                    Скобы
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container col-4">
        <input type="text" name="search_field" placeholder="Название">
        <button type="submit">Найти</button>
      </div>
    </div>
  </form>
</div>

<div class="container mt-3">
  <div class="row">
    {% for item in object_list %}
    <div class="col-3">
      <div class="card mt-3">

        <div class="card-header">
          <h5 class="card-title">{{ item.name|slice:":25" }}</h5>
          <img src="{{ item.image | media_filter }}" class="card-img" style="width: 15rem; height: 15rem;">
        </div>

        <div class="card-body" style="height: 12rem;">
          <p class="card-text">Цена: {{ item.price }}<br>
            На складе: None<br>
            {% for version in item.consumable_versions.all %}
              {% if version.is_current_version %}
                Версия: {{ version }}<br>
              {% endif %}
            {% endfor %}
            Описание: {{ item.description|slice:":100" }}</p>
        </div>

        <div class="card-footer">
          <div class="row">
            <div class="col-6">
              <a class="btn btn-secondary col-12" href="{% url 'catalog:consumable_detail' item.pk %}">Подробнее</a>
            </div>
            <div class="col-6">
              <a class="btn btn-success col-12" href="{% url 'catalog:consumable_purchase' item.pk %}">Купить</a>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-6">
              <a class="btn btn-warning col-12" href="{% url 'catalog:consumable_update' item.pk %}">Изменить</a>
            </div>
            <div class="col-6">
              <a class="btn btn-danger col-12" href="{% url 'catalog:consumable_delete' item.pk %}">Удалить</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
