{% extends 'catalog/base.html' %}

{% block content %}
<div class="container mt-3 mb-5">
  <h3>Написать в поддержку</h3>
  <div class="card">
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <input type="text" class="form-control" name="user_name" placeholder="Имя">
        </div>
        <div class="mb-3">
          <input type="email" class="form-control" name="user_email" placeholder="Email">
        </div>
        <div class="mb-3">
          <textarea class="form-control" name="user_message" rows="3" placeholder="Сообщение"></textarea>
        </div>
        <div>
          <input type="submit" class="btn btn-primary" value="Отправить">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <h3>Контакты</h3>
</div>

<div class="container">
  <h6>Поддержка: +7 777 777 7777</h6>
</div>

<div class="container">
  <h6>Вопросы по товарам: +7 777 777 7777</h6>
</div>

<div class="container">
  <h6>Вопросы по доставке: +7 777 777 7777</h6>
</div>
{% endblock %}
