{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
  <h2>Главная</h2>
</div>

<div class="container mt-2">
  <div class="card">
    <div class="card-body">
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed vehicula ante sed est
      dignissim rhoncus. Mauris pulvinar varius felis quis condimentum. Nam in nisi et quam pellentesque tristique.
      Mauris sed dui neque. Proin vitae interdum eros. Maecenas ante lacus, hendrerit ut lorem sed, gravida sollicitudin
      ipsum. Pellentesque eget nisl et augue tempor dignissim. Integer ut nisl laoreet, vulputate est eu, convallis
      nibh. In hac habitasse platea dictumst. Aenean efficitur nulla vitae mi vestibulum suscipit.
    </div>
  </div>
</div>

<div class="container mt-5">
  <p class="h2">Популярные товары</p>
  <div class="card-group">
    <div class="card">
      <img src="/static/catalog/img/a4.jfif" alt="a4">
      <div class="card-body">
        <h5 class="card-title">Бумага А4</h5>
        <p class="card-text">500 листов, 289 р.</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary">Перейти на страницу товара</button>
      </div>
    </div>
    <div class="card">
      <img src="/static/catalog/img/710kh432_2_14.jpg" alt="710kh432_2_14">
      <div class="card-body">
        <h5 class="card-title">Картридж SP 3020/3025</h5>
        <p class="card-text">Для Xerox, Цвет: черный, 663 р.</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary">Перейти на страницу товара</button>
      </div>
    </div>
    <div class="card">
      <img src="/static/catalog/img/skrepki.jpg" alt="skrepki">
      <div class="card-body">
        <h5 class="card-title">Скрепки канцелярские</h5>
        <p class="card-text">Размер: 50мм., 50 штук, 295 р.</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary">Перейти на страницу товара</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
