{% extends 'catalog/base.html' %}

{% block content %}

{% load catalog_tags %}
<div class="container mt-2">
  <div class="card">
    <div class="card-body">
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed vehicula ante sed est
      dignissim rhoncus. Mauris pulvinar varius felis quis condimentum. Nam in nisi et quam pellentesque tristique.
      Mauris sed dui neque. Proin vitae interdum eros. Maecenas ante lacus, hendrerit ut lorem sed, gravida sollicitudin
      ipsum. Pellentesque eget nisl et augue tempor dignissim. Integer ut nisl laoreet, vulputate est eu, convallis
      nibh. In hac habitasse platea dictumst. Aenean efficitur nulla vitae mi vestibulum suscipit.
    </div>
  </div>
</div>

<div class="container mt-5">
  <p class="h2">Популярные товары</p>
  <div class="container mt-3">
  <div class="row">
    {% for item in popular_products %}
    <div class="col-3">
      <div class="card mt-3">

        <div class="card-header">
          <h5 class="card-title">{{ item.name|slice:":25" }}</h5>
          <img src="{{ item.image | media_filter }}" class="card-img" style="width: 15rem; height: 15rem;">
        </div>

        <div class="card-body" style="height: 12rem;">
          <p class="card-text">Цена: {{ item.price }}<br>
            На складе: None<br>
            Куплено: {{ item.purchases_count }} раз<br>
            Описание: {{ item.description|slice:":100" }}</p>
        </div>

        <div class="card-footer">
          <div class="row">
            <div class="col-6">
              <a class="btn btn-secondary col-12" href="{% url 'catalog:consumable_detail' item.pk %}">Подробнее</a>
            </div>
            <div class="col-6">
              <a class="btn btn-success col-12" href="{% url 'catalog:consumable_purchase' item.pk %}">Купить</a>
            </div>
          </div>
          {% if perms.catalog.change_category or user == item.creator%}
          <div class="row mt-1">
            <div class="col-6">
              <a class="btn btn-warning col-12" href="{% url 'catalog:consumable_update' item.pk %}">Изменить</a>
            </div>
            <div class="col-6">
              <a class="btn btn-danger col-12" href="{% url 'catalog:consumable_delete' item.pk %}">Удалить</a>
            </div>
          </div>
          {% endif %}
        </div>

      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}
