{% extends 'catalog/base.html' %}

{% block content %}

{% load catalog_tags %}
<div class="container mt-1">
  <div class="row">
    <div class="container col-8">
      <div class="card">
      <img src="{{ product.image | media_filter }}">
      </div>
    </div>
    <div class="container col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">Цена: {{ product.price }} руб.<br>На складе: None</p>
          <h6 class="card-text">характеристики</h6>
          <p class="card-text">Производитель: название<br>
            Модель: название<br>
            Описание: {{ product.description }}</p>
          <div class="row">
            <a class="btn btn-secondary col-4 m-1" href="{% url 'catalog:home' %}">На главную</a>
            <a class="btn btn-warning col-4 m-1" href="#">В корзину</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
